.emacs.d
config/.config/gh/
config/.config/github-copilot/
zsh/.env
config/.config/swiftpm
config/.config/claude/stats*
config/.config/claude/todo*
config/.config/claude/projects*
config/.config/carapace/
.zcompdump_*
/config/.config/configstore
/config/.config/op
/config/.config/gcloud
/config/.config/1Password
/config/.config/circleci
/config/.config/homebrew
